* {
  margin: 0;
  padding: 0;
}

/* scrollbar  */
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-track{
  background: black;
}
body::-webkit-scrollbar-thumb{
  background: linear-gradient(45deg,rgb(40, 172, 224),rgb(250, 192, 255));
  border-radius: 20px;
}
/* scrollbar end  */




html {
  scroll-behavior: smooth;
}
body {
  color: white;
  background-color: black;
  overflow-x: hidden;
}

.btsimg {
  display: block;
  margin: auto;
  border-radius: 20px;
  width: 500px;
  height: auto;
  position: relative;
  top: 100px;
  border: 2px solid gray;
  border-radius: 20px;
  transition: all 0.6s ease-in-out;
}
.btsimg:hover {
  opacity: 0;
  cursor: pointer;
}

.info {
  position: relative;
  top: 250px;
  left: 200px;
  padding-left: 72px;
}
.member {
  text-align: center;
}

@keyframes colorfull {
  0% {
    left: 0px;
  }
  25% {
    left: 100px;
  }
  50% {
    left: 0px;
  }
  75% {
    left: -100px;
  }
  100% {
    left: 0px;
  }
}

#img-caption {
  display: inline-block;
  margin-left: 38%;
  text-align: center;
  color: white;
  position: relative;
  top: 100px;
  animation-name: colorfull;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  font-style: italic;
}
/* for Purple means Love forever :) line  */
.magic {
  position: relative;
  text-align: center;
  top: 334px;
  color: white;
  font-size: 35px;
}

.allmembervideo{
  margin-bottom: 230px;
}

/* cards section  */
.container {
  position: relative;
  top: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.container::before {
  content: "";
  background: url("../images/bts.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  filter: blur(3px);
  z-index: -1;
}
.container .card {
  position: relative;
  width: 300px;
  height: 215px;
  margin: 100px 10px;
  padding: 20px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.container .card:hover {
  height: 500px;
}

.container .card:hover .imgBx img {
  visibility: hidden;
}
.container .card:hover .imgBx {
  border: none;
  box-shadow: none;
}

.container .card .imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  border-radius: 17px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container .card .imgBx img {
  width: 100%;
  height: 100%;
  border-radius: 17px;
}
.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -30px;
  transition-delay: 0.3s;
}

/* card design  */
.rm,
.jin,
.jimin,
.jk,
.v,
.jhope,
.suga {
  background-color: black;
}
.rm::before,
.jin::before,
.jimin::before,
.jk::before,
.v::before,
.jhope::before,
.suga::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.rm::before {
  background-image: url("../images/rmmic.jpg");
  border: 2px solid rgb(58, 153, 241);
}
.jin::before {
  background-image: url("../images/jinmic.jpg");
  border: 2px solid rgb(117, 11, 103);
}
.jimin::before {
  background-image: url("../images/jiminmic.jpg");
  border: 2px solid rgb(175, 231, 21);
}
.jk::before {
  background-image: url("../images/jkmic.jpg");
  border: 2px solid rgb(119, 19, 177);
}
.v::before {
  background-image: url("../images/vmic.jpg");
  border: 2px solid rgb(17, 100, 28);
}
.jhope::before {
  background-image: url("../images/jhopemic.jpg");
  border: 2px solid rgb(187, 17, 17);
}
.suga::before {
  background-image: url("../images/sugamic.jpg");
  border: 2px solid rgb(201, 213, 224);
}

/* card design end */

/* card section end  */

/* for setting image on body background */
body::before {
  content: "";
  background: url("../images/group.jpg") no-repeat center center/cover;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0px;
  bottom: 0px;
  opacity: 0.2;
  z-index: -1;
}

/* audio section */
audio {
  width: 200px;
  height: 20px;
  outline-style: none;
  position: relative;
  top: auto;
  margin-top: 20px;
}
/* video section */
.allmembervideo {
  width: 100%;
  height: 70vh;
  position: relative;
  /* overflow: hidden; */
}
.video {
  width: 100%;
  height: 70vh;
  outline: none;
  position: relative;
  top: 231px;
}

/* footer css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
