* {
  margin: 0;
  padding: 0;
}

/* scrollbar  */
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-track{
  background: black;
}
body::-webkit-scrollbar-thumb{
  background: linear-gradient(45deg,rgb(40, 172, 224),rgb(250, 192, 255));
  border-radius: 20px;
}
/* scrollbar end  */




html {
  scroll-behavior: smooth;
}
body {
  color: white;
  background-color: black;
  overflow-x: hidden;
}

.btsimg {
  display: block;
  margin: auto;
  border-radius: 20px;
  width: 500px;
  height: auto;
  position: relative;
  top: 100px;
  border: 2px solid gray;
  border-radius: 20px;
  transition: all 0.6s ease-in-out;
}
.btsimg:hover {
  opacity: 0;
  cursor: pointer;
}

.info {
  position: relative;
  top: 250px;
  left: 200px;
  padding-left: 72px;
}
.member {
  text-align: center;
}

@keyframes colorfull {
  0% {
    left: 0px;
  }
  25% {
    left: 100px;
  }
  50% {
    left: 0px;
  }
  75% {
    left: -100px;
  }
  100% {
    left: 0px;
  }
}

#img-caption {
  display: inline-block;
  margin-left: 38%;
  text-align: center;
  color: white;
  position: relative;
  top: 100px;
  animation-name: colorfull;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  font-style: italic;
}
/* for Purple means Love forever :) line  */
.magic {
  position: relative;
  text-align: center;
  top: 334px;
  color: white;
  font-size: 35px;
}

/* cards section  */
.container {
  position: relative;
  top: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.container::before {
  content: "";
  background: url("../images/bts.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  filter: blur(3px);
  z-index: -1;
}
.container .card {
  position: relative;
  width: 300px;
  height: 215px;
  margin: 100px 10px;
  padding: 20px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}
.container .card:hover {
  height: 500px;
}

.container .card:hover .imgBx img {
  visibility: hidden;
}
.container .card:hover .imgBx {
  border: none;
  box-shadow: none;
}

.container .card .imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  border-radius: 17px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container .card .imgBx img {
  width: 100%;
  height: 100%;
  border-radius: 17px;
}
.container .card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: white;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -30px;
  transition-delay: 0.3s;
}

/* card design  */
.rm,
.jin,
.jimin,
.jk,
.v,
.jhope,
.suga {
  background-color: black;
}
.rm::before,
.jin::before,
.jimin::before,
.jk::before,
.v::before,
.jhope::before,
.suga::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.rm::before {
  background-image: url("../images/rmmic.jpg");
  border: 2px solid rgb(58, 153, 241);
}
.jin::before {
  background-image: url("../images/jinmic.jpg");
  border: 2px solid rgb(117, 11, 103);
}
.jimin::before {
  background-image: url("../images/jiminmic.jpg");
  border: 2px solid rgb(175, 231, 21);
}
.jk::before {
  background-image: url("../images/jkmic.jpg");
  border: 2px solid rgb(119, 19, 177);
}
.v::before {
  background-image: url("../images/vmic.jpg");
  border: 2px solid rgb(17, 100, 28);
}
.jhope::before {
  background-image: url("../images/jhopemic.jpg");
  border: 2px solid rgb(187, 17, 17);
}
.suga::before {
  background-image: url("../images/sugamic.jpg");
  border: 2px solid rgb(201, 213, 224);
}

/* card design end */

/* card section end  */

/* for setting image on body background */
body::before {
  content: "";
  background: url("../images/group.jpg") no-repeat center center/cover;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0px;
  bottom: 0px;
  opacity: 0.2;
  z-index: -1;
}

/* audio section */
audio {
  width: 200px;
  height: 20px;
  outline-style: none;
  position: relative;
  top: auto;
  margin-top: 20px;
}
/* video section */
.allmembervideo {
  width: 100%;
  height: 70vh;
  position: relative;
  /* overflow: hidden; */
}
.video {
  width: 100%;
  height: 70vh;
  outline: none;
  position: relative;
  top: 231px;
}

/* footer css */
footer {
  text-align: center;
  background-color: rgb(43, 39, 39);
  color: white;
  padding: 10px;
  position: relative;
  top: 94px;
  width: 100%;
  margin-top: 164px;
}

.fa {
  padding: 10px;
}
.socal a {
  color: rgb(88, 86, 86);
}
.fa-facebook-official:hover {
  color: rgb(22, 101, 219);
}
.fa-instagram:hover {
  color: rgb(241, 74, 52);
}
.fa-github:hover {
  color: rgb(56, 55, 55);
}
.fa-twitter:hover {
  color: rgb(24, 159, 201);
}
